[submodule "dding_template"]
	path = dding_template
	url = https://gitlab.com/dding_friends/dding_template.git
[submodule "template"]
	path = template
	url = https://github.com/KAIST-MIC-Lab/template
